<ion-header clasa="header">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-icon (click)="goBack()"  class="back-button" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-title>Notifications</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy policy are containers that display content such as text, images, buttons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cards are containers that display content such as text, images, buttons, and lists. A card can be a single
        component, but is often made up of a heade</p>
        <p class="time">12/12/2022 10:00 PM</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy policy are containers that display content such as text, images, buttons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cards are containers that display content such as text, images, buttons, and lists. A card can be a single
        component, but is often made up of a heade</p>
        <p class="time">12/12/2022 10:00 PM</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy policy are containers that display content such as text, images, buttons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cards are containers that display content such as text, images, buttons, and lists. A card can be a single
        component, but is often made up of a heade</p>
        <p class="time">12/12/2022 10:00 PM</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Privacy policy are containers that display content such as text, images, buttons</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cards are containers that display content such as text, images, buttons, and lists. A card can be a single
        component, but is often made up of a heade</p>
        <p class="time">12/12/2022 10:00 PM</p>
    </ion-card-content>
  </ion-card>
</ion-content>