<ion-header clasa="header">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-icon (click)="goBack()" class="back-button" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-title>Coupons</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <ion-grid class="items">
    <ion-card class="mar-0">
      <ion-row>
        <ion-col class="coupon-bg" size="3">
         <div>
          <span class="center">12%</span>
          <span class="off center">OFF</span>
         </div>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle class="price">Coupon123 <ion-badge color="light">Copy</ion-badge></ion-card-subtitle>
            <ion-card-title>Card Title mall text description for the card content.</ion-card-title>
            <ion-card-subtitle class="color"><b>Valid : 12/12/2022</b></ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="mar-0">
      <ion-row>
        <ion-col class="coupon-bg" size="3">
         <div>
          <span class="center">12%</span>
          <span class="off center">OFF</span>
         </div>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle class="price">Coupon123 <ion-badge color="light">Copy</ion-badge></ion-card-subtitle>
            <ion-card-title>Card Title mall text description for the card content.</ion-card-title>
            <ion-card-subtitle class="color"><b>Valid : 12/12/2022</b></ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="mar-0">
      <ion-row>
        <ion-col class="coupon-bg" size="3">
         <div>
          <span class="center">12%</span>
          <span class="off center">OFF</span>
         </div>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle class="price">Coupon123 <ion-badge color="light">Copy</ion-badge></ion-card-subtitle>
            <ion-card-title>Card Title mall text description for the card content.</ion-card-title>
            <ion-card-subtitle class="color"><b>Valid : 12/12/2022</b></ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="mar-0">
      <ion-row>
        <ion-col class="coupon-bg" size="3">
         <div>
          <span class="center">12%</span>
          <span class="off center">OFF</span>
         </div>
        </ion-col>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-subtitle class="price">Coupon123 <ion-badge color="light">Copy</ion-badge></ion-card-subtitle>
            <ion-card-title>Card Title mall text description for the card content.</ion-card-title>
            <ion-card-subtitle class="color"><b>Valid : 12/12/2022</b></ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

</ion-content>