<ion-header clasa="header">
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-icon (click)="goBack()"  class="back-button" name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-title>Category</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding mar-0 pad-0">

    <ion-grid class="categorys">

      <ion-row>
        <ion-col size="4" routerLink="/subcategory">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img1.png" />
          </ion-avatar>
          <ion-title class="center">Manoj Kumar</ion-title>
        </ion-col>
        <ion-col size="4" routerLink="/subcategory">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img2.png" />
          </ion-avatar>
          <ion-title class="center">Manoj Kumar</ion-title>
        </ion-col>
        <ion-col size="4" routerLink="/subcategory">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img3.png" />
          </ion-avatar>
          <ion-title class="center">Manoj</ion-title>
        </ion-col>
        <ion-col size="4" routerLink="/subcategory">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img4.png" />
          </ion-avatar>
          <ion-title class="center">Manoj Kumar</ion-title>
        </ion-col>
        <ion-col size="4" routerLink="/subcategory">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img1.png" />
          </ion-avatar>
          <ion-title class="center">Manoj</ion-title>
        </ion-col>
        <ion-col size="4">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img2.png" />
          </ion-avatar>
          <ion-title class="center">Manoj</ion-title>
        </ion-col>
        <ion-col size="4">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img3.png" />
          </ion-avatar>
          <ion-title class="center">Manoj</ion-title>
        </ion-col>
        <ion-col size="4">
          <ion-avatar class="center">
            <img alt="" src="../../assets/img/img4.png" />
          </ion-avatar>
          <ion-title class="center">Manoj</ion-title>
        </ion-col>
      </ion-row>

    
    </ion-grid>
  </div>
</ion-content>
