.profile-nav {
    ion-row {
        padding: 10px 0px 12px 0px;
        border-bottom: 1px solid #efefef;
        margin: 3px;

        ion-col {
            ion-icon {
                font-size: 20px;
                color: var(--main-bg-color);
            }

            ion-toggle {
                padding: 5px;
            }

            .arrow {
                font-size: 20px;
                color: #7c7c7c;
            }

            ion-label {
                font-size: 14px;
                font-weight: 500;
                color:var(--black-100);
            }
        }
    }
}