<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-slides class="center" pager="true" [options]="slideOpts">
      <ion-slide>
        <ion-row>
          <ion-col size="12">
            <img class="center" src="../../assets/img/wel1.png" />
          </ion-col>
          <ion-col size="12">
            <h2>Welcome</h2>
            <p>By your product form My Ecom..</p>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col size="12">
            <img class="center" src="../../assets/img/wel2.png" />
          </ion-col>
          <ion-col size="12">
            <h2>Choose Product</h2>
            <p>Find your best product form popular shop without any delay.</p>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col size="12">
            <img class="center" src="../../assets/img/wel3.svg" />
          </ion-col>
          <ion-col size="12">
            <h2>Make Payment</h2>
            <p>There are money payment options available.</p>
          </ion-col>
        </ion-row>
      </ion-slide>
      <ion-slide>
        <ion-row>
          <ion-col size="12">
            <img class="center" src="../../assets/img/wel4.svg" />
          </ion-col>
          <ion-col size="12">
            <h2>Get Your Order</h2>
            <p>Your product despatch within 1-2 Business day Delivered at your doorstep</p>
            <ion-button routerLink="/auth/login" class="center">Start Now</ion-button><br><br>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>

</ion-content>