<ion-header [translucent]="true">
  <ion-toolbar style="padding:5px;">
    <ion-row>
      <ion-col size="9">
        <ion-icon name="locate-outline"></ion-icon>
        <ion-title>Select Location <ion-icon name="chevron-down-outline" class="location-icon"></ion-icon></ion-title>
      </ion-col>
      <ion-col size="3">
        <ion-row>
          <ion-col size="6">
            <div routerLink="/notification">
              <ion-icon name="notifications-outline"></ion-icon>
              <ion-badge>5</ion-badge>
            </div>
          </ion-col>
          <ion-col size="6">
            <div routerLink="/cart">
              <ion-icon name="cart-outline"> </ion-icon>
              <ion-badge>6</ion-badge>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="searchbar">
      <ion-col size="10">
        <ion-searchbar show-clear-button="focus" value=""></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button class="filter-btn">
          <ion-icon class="center" slot="start" name="filter-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>


</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding mar-0 pad-0">
    <ion-grid class="category-grid">
      <ion-row>
        <ion-col size="9">
          <ion-title class="grid-title">Categories</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title routerLink="/category" class="see-all">
            See All
          </ion-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <div class="scroll">
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
          <ion-col size="3">
            <ion-avatar routerLink="/subcategory" class="categorys center">
              <img src="../../assets/img/img3.png" />
            </ion-avatar>
            <ion-title class="category-name center">Categories</ion-title>
          </ion-col>
     
        </div>
      </ion-row>

    </ion-grid>



    <ion-grid class="popular-product">
      <ion-row>
        <ion-col size="9">
          <ion-title class="grid-title">Popular</ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-title routerLink="/products" class="see-all">
            See All
          </ion-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <div class="scroll">
          <ion-col size="6">
            <ion-card class="mar-0">
              <img routerLink="/product-detail" class="center" alt="" src="../../assets/img/img1.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
                <ion-row>
                  <ion-col size="8">
                    <ion-button class="center add-btn" size="small">Add</ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="heart center" routerLink="/wishlist" name="heart"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card class="mar-0">
              <img routerLink="/product-detail" class="center" alt="" src="../../assets/img/img2.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <ion-button class="center add-btn" size="small">Add</ion-button>
                    </ion-col>
                    <ion-col size="4">
                      <ion-icon class="heart center" routerLink="/wishlist"  name="heart"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="mar-0">
              <img class="center" alt="" src="../../assets/img/img3.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="mar-0">
              <img class="center" alt="" src="../../assets/img/img1.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </div>
      </ion-row>

    </ion-grid>

    <ion-grid class="recent-product">
      <ion-row>
        <ion-col size="12">
          <ion-title class="grid-title">Recent Items</ion-title>
        </ion-col>
      </ion-row>

      <ion-row>
        <div class="scroll">
          <ion-col size="6">
            <ion-card class="mar-0">
              <img routerLink="/product-detail" class="center" alt="" src="../../assets/img/img1.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
                <ion-row>
                  <ion-col size="8">
                    <ion-button class="center add-btn" size="small">Add</ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="heart center" name="heart"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card class="mar-0">
              <img routerLink="/product-detail" class="center" alt="" src="../../assets/img/img2.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
                  <ion-row>
                    <ion-col size="8">
                      <ion-button class="center add-btn" size="small">Add</ion-button>
                    </ion-col>
                    <ion-col size="4">
                      <ion-icon class="heart center" name="heart"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="mar-0">
              <img class="center" alt="" src="../../assets/img/img3.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card class="mar-0">
              <img class="center" alt="" src="../../assets/img/img1.png" />
              <ion-card-header>
                <ion-title> description for the card content. Nothing more</ion-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                  <ion-col size="8">
                    <ion-title class="grid-title">₹500.00</ion-title>
                  </ion-col>
                  <ion-col size="4">
                    <ion-icon class="rating" name="star"></ion-icon> <span>5.0</span>
                  </ion-col></ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </div>
      </ion-row>

    </ion-grid>


  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="order" routerLink="/orders" >
      <ion-icon name="bag-handle" aria-hidden="true"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" routerLink="/home" >
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" routerLink="/cart" >
      <ion-icon name="cart" aria-hidden="true"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile" >
      <ion-icon name="person" aria-hidden="true"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>